* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 512px;
}

#site_header {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: solid;
  border-top: none;
  border-right: none;
  border-left: none;
}

/* post_card style */
.post_card {
  border-style: solid;
  width: 327px;
  margin: 7%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 3%
}

/* site_footer style */
#site_footer {
  padding-left: 15px;
  padding-top: 10px;
  border: solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
}